<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
	</configSections>

	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
				<arg key="configType" value="FILE" />
				<arg key="configFile" value="~/log4net.config" />
			</factoryAdapter>
		</logging>
	</common>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	
  <appSettings>
    <add key="SourcesXml" value="d:\Amir"/>
    <add key="ArchiveDirectory" value="d:\amir"/>
	  
    <add key="index" value="entities-mashan"/>
    <add key="HourBefore" value="1"/>
    <add key="NodeApiUrl" value="http://localhost:3001/api"/>
  </appSettings>
</configuration>
