
<configuration>
  <system.webServer>

    
    
	<iisnode promoteServerVars="AUTH_USER,AUTH_TYPE" nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />
	
    <handlers>
      <add name="iisnode" path="iisnode.js" verb="*" modules="iisnode" />
	 
    </handlers>

 

    <rewrite>
      <rules>
        <rule name="api">
          <match url="api/*" />
          <action type="Rewrite" url="iisnode.js" />		  
        </rule>
      </rules>
    </rewrite>
	
	
        <security>
			<authorizatin>
				<remove users="*" verbs="" />
				<add accessTypew="Allow"  users="mod.int\u04142" />
			</authorizatin>
            <authentication>
                <windowsAuthentication enabled="true" />
                <anonymousAuthentication enabled="false" />
            </authentication>
        </security>
       
    
  </system.webServer>
</configuration>
